<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EmlakcıUygulaması.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="EmlakcıUygulaması.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <EmlakcıUygulaması.Properties.Settings>
            <setting name="kevID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="sevID" serializeAs="String">
                <value>0</value>
            </setting>
        </EmlakcıUygulaması.Properties.Settings>
        <EmlakcıUygulaması.Settings>
            <setting name="Id" serializeAs="String">
                <value>0</value>
            </setting>
        </EmlakcıUygulaması.Settings>
    </userSettings>
</configuration>